[2015-11-10 10:46] batraabhishek opened #2 "Web Push notifications for event updates."
Hi All,
We can use some service like pushcrew.com to provide real time browser based push notifications during the event/conf. All we have to include is a small snippet of javascript code in the html file.

What say? Will be useful i guess.

[2016-01-10 12:40] vicky002 opened #3 "No Readme.md or documentation provided."
Hi,

I wanted to is this site is live? If yes then it would be good if you can mention the URL somewhere.

also there is no documentation or Wiki page for contributing to the repo.

[2016-01-10 16:23] jig08 commented on #3
Yep, it is  http://2016.fossasia.org/

[2016-01-10 20:18] mariobehling commented on #3
This is just a simple website, not a software project. So, we do not plan to set up a wiki or documentation.

[2016-01-10 20:18] #3 closed

[2016-01-10 20:19] mariobehling opened #4 "Change newsletter to Sendy newsletter"
The sample snippet needs to be adapted to the design/implementation here.

[code]

This is related to: https://github.com/fossasia/fossasia-subscriptions/issues/1

[2016-01-13 02:53] sudheesh001 opened #5 "Error in Timings Day 0 ?"
@mariobehling Is this 2PM by any chance instead of 2AM ? If this is a typo, we can fix it, or else please feel free to close this issue.
https://github.com/fossasia/2016.fossasia.org/blob/gh-pages/index.html#L526

[2016-01-15 06:55] mananwason opened #7 "Broken links for Topics"
The website has these broken links for images under topics.
<img width="1440" alt="screen shot 2016-01-15 at 12 22 54 pm" src="https://cloud.githubusercontent.com/assets/10570249/12347330/e8d33bec-bb82-11e5-94a1-254d334df953.png">

[2016-01-15 20:13] SilentFlame commented on #7
@mananwason
I am unable to understand the problem as when I visited the page it seems all ok.
can you please elaborate on the issue as I would like to fix this.

This is the view I got.
![foss](https://cloud.githubusercontent.com/assets/9693795/12364054/68df12d8-bbf2-11e5-8b90-29adf56e27dd.png)

[2016-01-16 07:42] isuruAb commented on #7
i think this one is already fixed  ?

[2016-01-16 07:49] jigyasa-grover commented on #7
Seems fine to me as well.

![screenshot from 2016-01-16 13 17 00](https://cloud.githubusercontent.com/assets/9291400/12371281/ac4e9cf8-bc53-11e5-9ccd-402a66e608e1.png)

[2016-01-16 08:02] SilentFlame commented on #7
Then, would be better to close the issue.

[2016-01-16 08:26] isuruAb commented on #5
Here the exact place
![untitled-1](https://cloud.githubusercontent.com/assets/7692626/12371414/e0b2ca46-bc58-11e5-8744-5c90f29910a1.png)

[2016-01-16 08:44] mananwason commented on #7
@SilentFlame Yes. Closing it !

[2016-01-16 08:44] #7 closed

[2016-01-16 08:45] mananwason commented on #7
Closed via 2327b1defa00b0be7e0812c3b77f9b56e1ab59e7

[2016-01-16 09:00] mariobehling commented on #5
Ahh, Thank you. Fixed it.

[2016-01-16 09:00] #5 closed

[2016-01-16 09:03] mariobehling commented on #2
Yes, very good idea. However, is there a simple solution to do this ourselves instead of using this service? Or could we use a twitter stream (but using the loklak API)?

[2016-01-16 09:31] mariobehling commented on #4
Implemented.

[2016-01-16 09:31] #4 closed

[2016-01-20 08:49] thijsjacobs opened #11 "Error in img/mohitsinghkanwal.jpg"
There's an issue with the accuracy of this file. It deviates from reality.

[2016-01-20 08:50] chenzihui commented on #11
+1

[2016-01-20 08:50] angelorohit commented on #11
:ship:

[2016-01-21 03:09] #11 closed

[2016-01-22 08:36] rohangoel96 opened #12 "Button text not visible"
"Button text which reads Book a ticket is not visible in the section which also contains the timeline"
![capture](https://cloud.githubusercontent.com/assets/8400677/12505940/fc3f3102-c110-11e5-8de7-0d4aa63cd51d.PNG)

[2016-01-22 09:38] #12 closed

[2016-02-29 04:49] mariobehling opened #16 "Generate simple html schedule from Google doc like at OpenTechSummit"
At OpenTechSummit we used a programm.html to generate the schedule from a Google doc. Please adapt the progamm.html to work with the FOSSASIA schedule.

Links
* Google doc https://docs.google.com/spreadsheets/d/1QeAyxbEc1fP9h5_kGQh-EVrx5RaYgbKFJBE9wUjIdvc
* Html: https://github.com/fossasia/2016.fossasia.org/blob/gh-pages/schedule/index.html
* Online: http://2016.fossasia.org/schedule/

The origin

[2016-03-03 03:49] mariobehling opened #19 "Add Speakers List to website"
On scroll over please show (insert in template html)
* icons/links
  * git repos
  * twitter
  * link to website
  * short bio or statement

The document with the speaker data is here: https://docs.google.com/spreadsheets/d/1S7D9PrR8QqC_bU8h6920Ni3IHHhgaz9Nq-092tyj_4c/edit#gid=0

1. [x] Roland, Turner
2. [x] Barry, Threw
3. [ ] Herr, Flupke
4. [ ] Luther, Goh
5. [x] Davide Storti
6. [x] Ron Dunn
7

[2016-03-03 18:38] aviaryan commented on #19
Hi @mariobehling
I would like to work on this issue. I saw the spreadsheet and I plan to programaticaly extract all data and put in the html file. I will take care of duplicates, missing images and will make sure that the output is neat and good-looking.

[2016-03-04 01:08] joerx commented on #19
Please use the already extracted data here: https://github.com/fossasia/open-event-scraper/blob/master/out/speakers.json. If you have anything missing there, please open an issue or PR on [open-event-scraper](https://github.com/fossasia/open-event-scraper). Thanks!

[2016-03-04 04:21] mariobehling commented on #19
Best is to upload any photo to Github instead of pulling them from original locations. It is too slow otherwise.

[2016-03-04 04:22] aviaryan commented on #19
@mariobehling Yes. It will also be more reliable that way. I will download the images into the img directory.

[2016-03-04 04:26] ansarimofid opened #20 "Fix style of button in schedule section"
The background-color and color applied to button are same, as a result the **text** in button is not visible.
**Below is the screenshot**
![fossasia](https://cloud.githubusercontent.com/assets/9111119/13517979/15e4e9a4-e1ef-11e5-9bf4-ca2cf909d253.PNG)

[2016-03-04 05:07] aviaryan commented on #19
@mariobehling @joerx There are 162 distinct speakers right now. Loading them at once will make the page gigantic. So I was thinking of adding a show more button to incrementally load them. Also I will use JS to fetch speakers at runtime to keep the HTML clean. What do you suggest ?

[2016-03-04 09:10] daminisatya commented on #19
@aviaryan What are you up to ? with this issue?

[2016-03-04 09:20] aviaryan commented on #19
I have downloaded the images, resized them and can generate the html code to add a speaker but I am not sure whether we should have all the speakers in the home page (dynamic) or in a separate page. @daminisatya What do you suggest ?

EDIT -
My repo - https://github.com/aviaryan/2016.fossasia.org/tree/speakers

[2016-03-04 11:02] jigyasa-grover commented on #19
@joerx +1

[2016-03-04 13:27] aviaryan commented on #19
Hello . I have finished adding speakers (with bio, links) on the page.  https://github.com/aviaryan/2016.fossasia.org/tree/speakers
I can't show a preview because it's not in my gh-pages branch. (My gh-pages branch is tracking PR #22 )
[Here is a screenshot](http://i.imgur.com/KbIZtuW.png)

PS - Elegant icon pack lacks github icon so I am using something else as a placeholder for now.
PS2 - For no

[2016-03-04 13:48] daminisatya commented on #19
Looks great (Y) @aviaryan But why dont you try to automate the addition of the list, that's how you can make the upmost use of the "speakers.json" file ;)

[2016-03-04 14:00] aviaryan commented on #19
@daminisatya I have automated everything, but in Python :pensive: ([Link](https://gist.github.com/aviaryan/8d9024a7548d4ef622b6) to the dirty script)
Next, I will use JavaScript to load data from the json file. This will hopefully keep the HTML source cleaner. :sunglasses:

[2016-03-04 15:40] sudheesh001 commented on #19
@aviaryan Maybe what we could do is I think @daminisatya has also been working on this and has the JS part of it ready, Can you push the resized images with the format you've taken, use the `name` part of each speaker object to save the image and you could submit that as a pull request and her patch which she mailed me could help in finishing this, I am excited to see both of you finish this.

[co

[2016-03-04 16:00] daminisatya commented on #19
@sudheesh001 sounds good. @aviaryan Can you raise a PR of all the resized downloaded images. Since you have already done with it ! We can push those images into this code and the list works fine. Looks like the image names are appended with the first and last name.

[2016-03-04 16:37] aviaryan commented on #19
@sudheesh001 @daminisatya Sure. :+1:

Few points -
1. As I have implemented speaker bio, you will have to change `speakerString` code. You can see the [new code here](https://github.com/aviaryan/2016.fossasia.org/blob/speaker-images/index.html#L602).
2. Similarly you can add website and github links too [Code](https://github.com/aviaryan/2016.fossasia.org/blob/speakers/index.html#L822)
3. Images a

[2016-03-05 08:47] #20 closed

[2016-03-06 07:03] aviaryan opened #25 "Use github profile image for speakers without images"
In context to #23 and #24, if a speaker doesn't have an image, we can use his github profile image instead. It can be trivially build from GitHub username.

[code]

example - https://avatars2.githubusercontent.com/aviaryan

[2016-03-06 07:14] aviaryan commented on #25
@sudheesh001 @daminisatya @joerx What do you think of this ?
I am aware that some speakers may have not set their github profile images. In that case we would be stuck with github _random squares_ image. But that should not be the case most of the times.

[2016-03-06 07:22] #16 closed

[2016-03-06 07:22] joerx commented on #16
Added schedule. Some tweaks are still required, but we can tackle those as separate issues.

[2016-03-06 07:24] joerx opened #26 "Loading screen on schedule page"
Schedule page is loading data via Ajax, leading to a noticeable delay (during which the page is just blank) - we should add a small loader animation instead.

[2016-03-06 07:27] joerx opened #27 "Match design of schedule page"
Schedule page right now uses Bootstrap default style, which is pretty unexciting. However, it's clean & responsive. Please sensibly adjust the Bootstrap theme to match the main page more closely.

[2016-03-06 07:38] daminisatya commented on #25
@aviaryan I extracted the github images for those who dint provide a photo. Those default images are those speakers who dint include any of their social networking links. But still i will go through it once again.

[2016-03-06 07:40] daminisatya commented on #27
@joerx Working on it !

[2016-03-06 07:59] aviaryan commented on #25
@daminisatya I think you have missed that. As far as I can see, you aren't using github images in PR #24 .

@mariobehling Should I download github images of speakers who haven't provided their image url and send a PR ?

[2016-03-06 08:19] daminisatya commented on #25
#24

[2016-03-06 08:34] sudheesh001 commented on #25
I think most of the images have already been added, i've seen the information of github in each speaker object in the given json, they're inconsitent with some being full urls and some being just the usernames. I think @daminisatya has pushed most of the files in the PR proposed

[2016-03-06 08:34] daminisatya commented on #25
#24 Check here, I updated the PR

[2016-03-06 09:30] mariobehling commented on #16
Ok, looks great already. Let me go through it a bit and then we can release.

[2016-03-06 09:31] aviaryan commented on #25
@daminisatya Great :+1: . Thanks . I will close this issue now.

[2016-03-06 09:31] #25 closed

[2016-03-06 09:39] mariobehling opened #28 "Schedule Page: Enable expansion on click providing more info"
In the normal schedule view, sessions can look like that:
![screenshot from 2016-03-06 17 18 02-1](https://cloud.githubusercontent.com/assets/1583873/13553368/20cf07c6-e3c2-11e5-8574-7c41f0f470fc.png)
* [x] Please change blue to FOSSASIA red

In the expanded view, please add
* [x] abstract info
* [ ] speaker bio
* [ ] below speaker bio simple black icons of web (world icon) github, fb, twitter wit

[2016-03-06 09:41] mariobehling commented on #27
@daminisatya Could you make a quick change of the time buttons of blue to FOSSASIA red, please? And make a PR. Please release early and often.

[2016-03-06 09:43] daminisatya commented on #27
@mariobehling sure.

[2016-03-06 10:33] mariobehling commented on #27
@daminisatya If you have time provide a sample design as an image here. So, we can get an idea where you are heading. Also, please take this into account: https://github.com/fossasia/2016.fossasia.org/issues/28

[2016-03-06 10:52] AmayAgrawal commented on #28
I think that this can work like the one we did in the open-event webapp.But I m not getting that how to run it locally on  my machine.

[2016-03-06 11:07] daminisatya commented on #28
@AmayAgrawal You cant see the result locally since the file looks something like this file:///, so the browser doesnt allow you to do XHR requests on a local file. Either run it on caddy server or xampp. It works fine.

[2016-03-06 11:10] daminisatya commented on #27
@mariobehling Sure ! Will work on it after pushing the speaker's PR, I'm almost done with the speaker's list.

[2016-03-06 11:16] AmayAgrawal commented on #28
Ok thanks for the information

[2016-03-06 11:31] mariobehling opened #30 "Change details on schedule page"
This is obvious, so:
* [x] take out "Speaker"
* [x] take out "Type"

![screenshot from 2016-03-06 19 28 20](https://cloud.githubusercontent.com/assets/1583873/13553847/c6538974-e3d1-11e5-8278-ad20fa7acd86.png)

* [x] Add Organization, behind speaker in brakets e.g. Lennart Poettering (RedHat)

[2016-03-06 11:38] mariobehling commented on #19
@aviaryan what about all those speakers? Could you make a pull request and then we work step by step to improve? We need the speaker on the page asap.

Also could you set up the github pages on your account. So we can see the progress more easily? Cheers.

[2016-03-06 11:42] mariobehling commented on #19
@aviaryan Could you please join the channel http://fossasia-slack.herokuapp.com and the channel app-dev

[2016-03-06 11:43] mariobehling commented on #28
@AmayAgrawal http://fossasia-slack.herokuapp.com Please join channel app-dev. Cheer.

[2016-03-06 11:49] mariobehling commented on #19
@all interesting work here. I see that no photo has been added so far to the site and that you are working on scripts. This seems like over-engeneering. I need help to add photos to the page manually now. the script generated images that are distorted and you overwrote existing images not taking care of capitals. This broke the site and we had missing images making the page looking like a page fro

[2016-03-06 11:53] aviaryan commented on #19
I stopped working on it after #23 got merged. From there, @daminisatya was adding the JS to dynamically load speakers from .json file. Her PR is #24 . It is currently missing bio and other links.
What PR should I make ? @mariobehling

Slack Channel joined. username - aviaryan

[2016-03-06 15:36] joerx commented on #28
@AmayAgrawal: Easiest way to run locally: https://caddyserver.com/ - Caddyfile is provided inside /schedule folder.

[2016-03-07 02:00] zionsg opened #35 "Hamburger menu for switching days not working on mobile"
Was unable to switch between the 3 days in the schedule while viewing it on mobile (iPhone 5S). Only saw the buttons for the 3 days when viewing on desktop.

[2016-03-07 02:14] joerx commented on #35
Fixed by removing the lava theme from the schedule page. Buttons are still red, but the rest of the theme does not match now. I'll open a new issue for that.

[2016-03-07 02:14] #35 closed

[2016-03-07 02:14] joerx commented on #35
d81c980a9e5a8b84f76a4cb70c8ef5d0940d0e61

[2016-03-07 02:15] joerx commented on #27
Please don't include the theme css for the main page. It breaks the hamburger menu on mobile (see #35) - match fonts and colours, don't touch anything else.

[2016-03-07 07:02] mariobehling opened #42 "Speaker section picture layout errors"
There is an issue with the pic layout. Anyone ideas?

![screenshot from 2016-03-07 15 01 40](https://cloud.githubusercontent.com/assets/1583873/13562640/9958dc18-e475-11e5-93f5-a8991ddef722.png)

[2016-03-07 07:06] daminisatya commented on #42
@mariobehling add every four images in a new div. This will resolve it.

[2016-03-07 07:10] clemsos opened #43 "Schedule is displayed in wrong timezone"
![selection_086](https://cloud.githubusercontent.com/assets/743246/13562752/081a5d50-e43c-11e5-9adf-fd5b9a16fbc2.png)

In schedule main.js file, moment should be initialized with explicit singapore timezone

[2016-03-07 07:14] joerx commented on #43
Can you provide a PR?

[2016-03-07 08:04] #43 closed

[2016-03-07 16:07] mananwason opened #48 "Type of talks not displayed on 18th march"
Apart from Opentech and Opentech Workshops, type of all others talks is not displayed even though the json file has this detail.
<img width="1238" alt="screen shot 2016-03-07 at 9 36 34 pm" src="https://cloud.githubusercontent.com/assets/10570249/13575027/c0f84718-e4ac-11e5-9523-1adb62793479.png">
<img width="1222" alt="screen shot 2016-03-07 at 9 36 49 pm" src="https://cloud.githubusercontent.com

[2016-03-08 16:34] sreejakshetty commented on #48
@mananwason
I have checked every name in json file is displayed here . If still there is any bug please tell me I would like to work on it . Thank You
![screenshot from 2016-03-08 21 10 55](https://cloud.githubusercontent.com/assets/14835922/13606534/45fba08e-e572-11e5-85ca-4c42699701fb.png)

[2016-03-08 18:08] SilentFlame commented on #30
@mariobehling @jig08
going through page's source code I found that there is only one call to `sessions.json` in the `main.js` file.
So either we have to add the `organisation` field to the `sessions.json` file in the **speakers** section or we need to link the `speakers.json` file with the main.js.
What do you say?

[2016-03-08 18:20] mananwason commented on #48
@kamishettysreeja25 what do you mean that you have checked every name in json file?
 The problem is with the session type not displaying on the website even though it is present in the json file.

[2016-03-08 19:02] kamishettysreeja25 commented on #48
@mananwason  Okay I thought it is the names which are  not displayed . Okay I got it .

[2016-03-08 19:03] brainzest commented on #48
Fixed. https://github.com/brainzest/2016.fossasia.org/commit/36334f919011251f54ee2f11bee79936a5828934

[2016-03-08 23:59] joerx commented on #30
Added org. Can be closed

[2016-03-09 00:32] #30 closed

[2016-03-09 18:06] SilentFlame commented on #42
I guess this issue has been resolved,
as I'm unable to reproduce the layout problem.
Have a look agian @mariobehling .
You can close it if you think its resolved.

[2016-03-09 23:57] SilentFlame commented on #26
@joerx
can be closed if PR #59 does the work.

[2016-03-10 10:56] SilentFlame commented on #26
@joerx have a look at PR #60

[2016-03-10 12:56] mariobehling opened #62 "Implement a submenu for each day with the tracks"
The intended menu items should include all tracks for each day e.g.

* Friday, March 18
  * OpenTech and IoT
  * Tech Kids I
  * Tech Kids II
  * Hardware and IoT
  * Big Data/Open Data
  * DevOps
  * Internet, Society, Community
  * Exhibition

* Saturday March 19
  * OpenTech and IoT
  * OpenTech Workshops
  * Tech Kids I
  * Tech Kids II
  * Tech Kids III
  * Hardware and IoT
  * DevOps
  * Web

[2016-03-10 13:33] joerx commented on #26
Not fixed. See my comment on #60

[2016-03-10 13:52] jigyasa-grover commented on #26
@joerx Okay, cool.
Have the changes been reverted ?

[2016-03-10 13:55] joerx commented on #26
yes

[2016-03-10 13:56] jigyasa-grover commented on #26
:+1:

[2016-03-10 16:09] mariobehling commented on #48
Issue is solved. Thanks.

[2016-03-10 16:09] #48 closed

[2016-03-10 16:49] rctay opened #64 "cut out json loading?"
Hi everyone, I came here for #28, and saw that `/schedule`, and in general the whole deployment and site hosting revolves around github pages static files. Would there be any interest in having a deployment step, running of code in a separate staging branch, say, `master`, and generate the complete schedule page in json, using the json input, so that the final deployed result doesn't load json any

[2016-03-10 23:49] joerx commented on #64
I don't see why loading the schedule data as JSON is a problem. It seems to work great so far.
- Schedule data is parsed out of a Google sheet and consumed by multiple clients
- Data needs to be updated regardless, as schedule changes sometimes
- JSON is loaded in background to reduce page load time
- Having structured data allows filtering schedule page on the fly (currently by day, filter by tra

[2016-03-10 23:51] joerx commented on #62
Please open the page on a mobile device and re-think your approach. The menu is collapsed into a single button - a hierarchy would not work well in that case. With UX in mind, a single dropdown or quick-links for tracks on top of the page would be a better solution.

[2016-03-10 23:55] shubh1m commented on #42
Hey @mariobehling. Created a PR at https://github.com/fossasia/2016.fossasia.org/pull/66. Have a look.

[2016-03-11 00:19] shubh1m commented on #42
I have also changed the height and width of the speaker images to 240*240 px . So, it would be relatively faster to load. All that needs to be done is to shrink all the images which can easily be handled via a python script if someone can proceed.

[2016-03-11 10:10] #42 closed

[2016-03-11 14:21] SilentFlame commented on #26
@joerx so exacltly when do we need to hide the loader image.
1. when the data is fetched.?
2. when data is parsed.?

I think the later is what exactly you were mentioning in the comment provided in #59.
tell me and I'll add that there. :smiley:

[2016-03-11 15:28] mariobehling commented on #62
Please check on the main site http://2016.fossasia.org and check how the mobile site is implemented here. You can just copy the code as well and implement it as another menu here. It also works with submenus.

[2016-03-11 22:04] SilentFlame commented on #62
@mariobehling Is this is what exactly you wanted to be done here.?
![18th_01](https://cloud.githubusercontent.com/assets/9693795/13716791/4a6af05a-e803-11e5-8d24-92f108ae8d82.png)
![19th_02](https://cloud.githubusercontent.com/assets/9693795/13716792/4a7a32cc-e803-11e5-8a11-1a7c2b71f587.png)
![20th](https://cloud.githubusercontent.com/assets/9693795/13716793/4a7d1fbe-e803-11e5-9d21-79a50a11a902.pn

[2016-03-11 23:43] shubh1m commented on #42
@jig08 I think the issue is back again.

[2016-03-12 01:02] joerx commented on #26
It's not about "when" but "how" - check the bottom part of main.js,
particularly the part that says `store.on()`.

On Fri, Mar 11, 2016 at 10:21 PM, Vinay Singh notifications@github.com
wrote:

##

_joerg henning /_ software developer & consultant
mobile: +65 9038 9670
twitter: @JoergHenning https://twitter.com/JoergHenning

[2016-03-12 01:41] mariobehling commented on #62
did you have a look at the main page?

![screenshot from 2016-03-12 09 37 24](https://cloud.githubusercontent.com/assets/1583873/13719795/443ce7be-e836-11e5-8693-d9a162743890.png)

Could you also please give links to a github page with the features instead of screenshots?
- [ ] implement menu as main menu on http://2016.fossasia.org (but with style suitable for schedule, e.g. transparent overlay d

[2016-03-12 02:50] mariobehling commented on #62
Here is a rough idea, what we need.
![screenshot from 2016-03-12 10 44 13](https://cloud.githubusercontent.com/assets/1583873/13720307/3b5c27d6-e840-11e5-98d6-19ebc4f25fe3.png)

[2016-03-12 02:52] mariobehling opened #72 "Add social media icons/links to schedule page"
* [ ] YouTube Channel
* [ ] Github
* [ ] Twitter
* [ ] Facebook

See as an example here on the top right.

![screenshot from 2016-03-12 10 44 13](https://cloud.githubusercontent.com/assets/1583873/13720327/8e1e6a60-e840-11e5-8535-5d67b6fcf176.png)

[2016-03-12 06:15] sreejakshetty commented on #72
@mariobehling
I have included  elegant-icons.min.css but i am unable to view the images.
![screenshot from 2016-03-12 11 42 19](https://cloud.githubusercontent.com/assets/14835922/13721290/83bfdeb2-e847-11e5-9043-ad23bcb4c940.png)
Can you help me out

[2016-03-12 09:47] sreejakshetty commented on #72
@mariobehling  Is this fine ?
![screenshot from 2016-03-12 15 16 59](https://cloud.githubusercontent.com/assets/14835922/13722266/8bd9c4a0-e865-11e5-930b-22090d318e16.png)

[2016-03-12 09:54] jigyasa-grover commented on #72
- @kamishettysreeja25 In my opinion, they would look better if right aligned as shown in @mariobehling 's mockup
- Also, change the `GitHub` icon, use the Octocat one instead.

[2016-03-12 10:02] SilentFlame commented on #26
@joerx I didn't get you here, can't we just make the loader stay there until the whole data is fetched and parsed and then as the data loads we should hide the loader.

[2016-03-12 10:03] SilentFlame commented on #62
@mariobehling  does the list in the sub-menu needed to have links?
or just a static list of all the tracks would do the work?

[2016-03-12 10:08] joerx commented on #64
@rctay - had a quick chat with @mariobehling about this. We'll follow this approach after all. I'm about to get started on this. My idea is to simply use mustache.js to render the html page. Please let me know if you'd like to help or have any suggestions.

[2016-03-12 10:11] jigyasa-grover commented on #62
@mariobehling @SilentFlame I believe links would be more useful.
But for the time being, lets have the sub-menus implemented first ?

[2016-03-12 10:17] SilentFlame commented on #62
@jig08 but since the page is itself having the list of all the things so this doesn't make sense here I guess.

[2016-03-12 10:19] jigyasa-grover commented on #62
Easy access/navigation, maybe ?

[2016-03-12 10:22] SilentFlame commented on #62
ohk you mean on clicking on them we should go down to those track I guess. :smiley:
ya It make sense.

[2016-03-12 10:25] jigyasa-grover commented on #62
Exactly !

[2016-03-12 10:29] SilentFlame commented on #62
ohk trying that :smiley:
@jig08  are you on slack or IRC? need to ask some things.

[2016-03-12 10:32] jigyasa-grover commented on #62
Yes, on _FOSSASIA Slack_ `#app-dev` channel as `@jigyasa`

[2016-03-12 11:45] hpdang commented on #64
+1 @rctay can do this in one hour right :D?

[2016-03-12 13:25] joerx commented on #26
Which part of "look at [the bottom of main.js](https://github.com/fossasia/2016.fossasia.org/blob/gh-pages/schedule/main.js#L272)" are you having trouble with?

[2016-03-12 13:33] SilentFlame commented on #26
I mean what exactly we need here to do with the data event?
embed the loader into the event? as when the event ends it stops the loader image.
or something else?

[2016-03-12 14:30] mariobehling opened #74 "Speaker Images not scaled properly"
At one point in the former changes the was a change that resulted in the speaker images scaled wrongly at some resolutions. Speaker images should always be in the ratio 1:1, but at some points the width is scaled down and the height is not scaled. See screenshot below.

![screenshot from 2016-03-12 22 26 00](https://cloud.githubusercontent.com/assets/1583873/13723483/11cfc5f0-e8a2-11e5-8b3f-449a87

[2016-03-12 14:56] joerx commented on #26
Schedule has been converted to static page (see #64), this won't be necessary anymore.

[2016-03-12 14:56] #26 closed

[2016-03-12 14:57] joerx commented on #64
Done, please review

[2016-03-12 14:57] joerx commented on #28
Done

[2016-03-12 14:57] #28 closed

[2016-03-12 14:57] joerx commented on #27
Done

[2016-03-12 14:57] #27 closed

[2016-03-12 14:58] joerx commented on #62
Fixed via b865f262eb683047c148b270a68b64f816ffb2e6. @mariobehling please review

[2016-03-12 15:05] joerx commented on #72
The event is approaching quickly and we are having less time for detailed discussions. Please just get to work and send a PR when done. We will give our feedback and merge when we're fine with the solution.

[2016-03-12 15:06] mariobehling commented on #62
@joerx Thanks for the update.

Next steps that would be good:
- [x] Order of tracks according to spreadsheet versioning doc
- [x] Make anchor link to heading (at the moment the link goes to the start date instead of the heading)

[2016-03-12 15:14] mariobehling opened #75 "Schedule: Add speakers and other info when expanding detail view"
At the moment only the info of the sessions is expanded. Please add the following on expansion:
* [ ] speakers info
* [ ] social media icons with link to website, github, twitter, linkedin

[2016-03-12 15:28] mariobehling opened #76 "Schedule: Add speaker photos to speaker sessions"
![screenshot from 2016-03-12 23 22 43](https://cloud.githubusercontent.com/assets/1583873/13723779/20912f2c-e8aa-11e5-9529-b7f9c10c182e.png)

[2016-03-12 15:28] SilentFlame commented on #62
@mariobehling need clarification regarding point 1.
I guess point 2 is done as it appears for me now.
point 3 unable to understand.
point 4 again done.

[2016-03-12 15:30] mananwason commented on #74
@mariobehling now it looks okay to me. On Inspection as well the ratio is 300x300 only. So I think we can close this. Your views?
<img width="1439" alt="screen shot 2016-03-12 at 8 58 33 pm" src="https://cloud.githubusercontent.com/assets/10570249/13723781/3cfb1764-e895-11e5-99a7-2c73c7a94199.png">

[2016-03-12 16:12] rctay commented on #64
I take it that `schedule/index.html` is the final generated result from mustache? Do you have the original source template?

[2016-03-12 16:33] mariobehling opened #77 "Schedule: Implement a simple search"
![screenshot from 2016-03-13 00 30 53](https://cloud.githubusercontent.com/assets/1583873/13724037/32b05800-e8b3-11e5-9ac5-02167b59a3f4.png)

[2016-03-12 16:39] mariobehling commented on #74
@mananwason Issue is not solved. In different browser window sizes issue is there.

There was no commit, so how can the issue be solved magically..

[2016-03-12 17:26] jigyasa-grover commented on #72
@kamishettysreeja25 Working on this ?

[2016-03-12 17:29] championswimmer commented on #64
@joerx Yeah would like to see the mustache template and the script to generate it. I am working on enabling search and speaker details on the index.html page

[2016-03-12 18:11] aayusharora opened #80 "Wrong path for Schedule in navigation bar"

[2016-03-12 18:12] aayusharora commented on #80
On clicking "Schedule" in navigation bar is leading to page not found.

[2016-03-12 20:20] aayusharora commented on #80
@jig08 ,@championswimmer ,solved here #82

[2016-03-12 20:29] sreejakshetty commented on #72
@jig08 @joerx @SilentFlame
I think we can directly add the social links using  elegant-icons.min.css as we have done for http://2016.fossasia.org/ i was trying for that instead of adding  the images for the social media

[2016-03-12 20:42] SilentFlame commented on #72
@kamishettysreeja25  It just ran out of my mind, you can do that if you want to.

[2016-03-12 20:51] sreejakshetty commented on #72
@SilentFlame
I am not able to load the images it is showing blank for me , you can do it   if you are able to load the images from the bootstrap  :)

[2016-03-13 01:08] mariobehling commented on #64
@rctay @championswimmer Please have a look here: https://github.com/fossasia/open-event-scraper

[2016-03-13 01:12] #80 closed

[2016-03-13 01:29] joerx commented on #77
It's a static page. Why not just use the built-in search of the browser?

[2016-03-13 01:45] joerx commented on #64
@mariobehling - Can we close this issue now?

[2016-03-13 02:39] mariobehling commented on #64
yeah, think so.

[2016-03-13 02:39] #64 closed

[2016-03-13 02:42] mariobehling commented on #77
... it is difficult to handle on mobile. Search could show e.g. all talks of a speaker.

[2016-03-13 05:08] aayusharora commented on #77
@mariobehling ,@joerx I am almost done with it

[2016-03-13 08:01] aayusharora commented on #77
@mariobehling ,@joerx solved here  #85

[2016-03-13 08:31] #62 closed

[2016-03-13 08:34] mariobehling opened #87 "Schedule: Expand day menu on scroll over / Link to day section / smooth scrolling"
* [ ] Expand day menu on scroll over
* [ ] Link day e.g. Fri. 18th Mar" to beginning of day section Mar 18
* [ ] implement smooth scrolling like on main page

[2016-03-13 12:51] rctay commented on #75
Rough cut: https://github.com/fossasia/open-event-scraper/pull/19

Need to add images/icons, alignment etc. I'll leave this to someone else.

[2016-03-13 14:46] mariobehling opened #91 "Schedule: If there are two sessions with the same title and description, the first talks opens with the description, the second one stays closed"
e.g. from Praveen Patil or from Victoria.

Try this one: Search for "Developers looking for designers? Show off your project!"
http://2016.fossasia.org/schedule/

[2016-03-14 00:20] mariobehling opened #92 "Schedule: Implement suitable style for social media icons"
The schedule now shows social media icons of speakers. Please adapt the style to match the site design
![screenshot from 2016-03-14 08 13 13](https://cloud.githubusercontent.com/assets/1583873/13732417/6718c07c-e9bd-11e5-9591-f39899c88d93.png)

* [x] change icon color to dark gray just as text
* [x] increase size in desktop and mobile version to make it more easily clickable

[2016-03-14 04:01] mariobehling opened #93 "Schedule: Get a link to sessions, that can be shared?"
Best would be to get a link with the session ID, so the link stays in case the session is moved.

[2016-03-14 07:30] mariobehling opened #94 "Schedule: Linkify links in session description and speaker bio"
Some session/abstract descriptions and speaker bios have links. At the moment those links do not get generated automatically in the html. Please change those links into clickable links, e.g. in the session "Using Python Client to talk with Zanata Server"

[2016-03-14 08:25] anas24 commented on #93
@mariobehling How to start working to remove this issue

[2016-03-15 00:32] joerx commented on #91
Fixed.

[2016-03-15 00:33] joerx commented on #75
Done

[2016-03-15 01:05] #75 closed

[2016-03-15 01:05] #91 closed

[2016-03-16 00:51] mariobehling commented on #93
Hi, this is a basic solution, that works, but the anchor is really distracting. Please move the anchor into the expandable bottom section and make it into a "share link".

Step one: User can see and click on the share link. Please see bottom right

![screenshot from 2016-03-16 08 44 41](https://cloud.githubusercontent.com/assets/1583873/13798750/38fc04d6-eb54-11e5-8ada-22891483f1e0.png)

Step two:

[2016-03-16 10:26] mariobehling opened #97 "Schedule: Add ical to schedule page"
@sogko made a nice little calendar thingy. This enables us to get an ical as well. Please include the ical here: https://calendar.google.com/calendar/ical/oqrj3a93g17r1pgckrr2sv4klc%40group.calendar.google.com/public/basic.ics

Maybe on the top right?

[2016-03-16 11:11] mariobehling opened #98 "Add a "Sign up" link for workshop or other sessions that need an additional sign up"
The page can have a column "sign up" that redirects to meetup or other services where people could sign up. (The data column or JSON data needs to have the option "Sign up")

![screenshot from 2016-03-16 19 08 51](https://cloud.githubusercontent.com/assets/1583873/13810431/c4b299b2-ebaa-11e5-81bb-9c98c2ab6421.png)

[2016-03-16 22:24] aayusharora commented on #76
@mariobehling ,Is this also a change to be done  in open-event-scraper ?According to read me I should not do any change in Schedule section.

[2016-03-16 23:33] aayusharora commented on #72
![socialicons added](https://cloud.githubusercontent.com/assets/12194719/13831964/ace7f428-ebfd-11e5-975d-f0eea51e34c1.PNG)
@mariobehling ,@joerx solved here #102.

[2016-03-16 23:35] aayusharora commented on #72
@mariobehling , Kindly review.

[2016-03-17 09:28] SilentFlame commented on #98
@mariobehling and where should it redirects?
I mean do we have any portal or anything for signup till?

[2016-04-24 21:33] #92 closed

[2016-04-24 21:41] mariobehling commented on #72
@aayusharora Could you please help to follow up on this here at the OTS event https://github.com/OpenTechSummit/2016.opentechsummit.net/issues/3

[2016-04-24 21:56] #93 closed

[2016-04-25 03:52] aayusharora commented on #72
@mariobehling , yeah sure .

[2016-04-25 18:37] #76 closed

[2016-04-26 20:50] #94 closed

[2016-04-26 20:51] #87 closed

[2016-04-26 20:51] #72 closed

[2016-07-08 17:58] VibhuKesar opened #109 "Hyperlinks are Displayed instead of Tags in Tweets"
![screenshot 22](https://cloud.githubusercontent.com/assets/20054569/16695801/5e359b76-455f-11e6-8718-150c1d3fefdf.png)

[2016-07-09 19:12] VibhuKesar opened #110 "Void space in speakers column"
I request to resolve the same error .Thanks

![screenshot 21](https://cloud.githubusercontent.com/assets/20054569/16709742/f8dfd286-4636-11e6-9a05-6d3604e627de.png)

[2016-07-10 00:56] mariobehling commented on #110
Feel free to take up this issue. Cheers.

[2016-07-10 01:30] jigyasa-grover commented on #109
@VibhuKesar Go ahead and send in a fix ..

[2016-09-19 22:01] mariobehling commented on #109
This issue is related to loklak: http://loklak.org So, closing it here.

[2016-09-19 22:01] #109 closed

[2016-09-19 22:01] mariobehling commented on #110
Fixed already.

[2016-09-19 22:01] #110 closed

[2016-09-19 22:01] mariobehling commented on #97
will be solved by web app.

[2016-09-19 22:01] #97 closed

[2016-09-19 22:02] mariobehling commented on #98
Done.

[2016-09-19 22:02] #98 closed

[2016-09-19 22:02] #77 closed

[2016-09-19 22:03] #19 closed

[2016-09-19 22:03] #2 closed

[2016-09-21 07:41] singhksandeep25 commented on #74
@mariobehling can you please specify the browser where you are seeing this bug? On firefox and chrome the images are fine.

[2016-09-21 08:22] mariobehling commented on #74
@sandmanx Firefox and Chromium both show this bug. Try to increase/decrease the width of the browser window and you will see it.

[2016-09-21 10:40] singhksandeep25 commented on #74
@mariobehling I have fixed the issue and created a pull request. The problem was due to "height : 300px;" property in the .background-image class present in custom.css. Deleting it solves the problem.

Before:
![imageedit_1_2200141627](https://cloud.githubusercontent.com/assets/14184381/18707896/c50c08d0-8015-11e6-9444-894d0e070132.png)

After:
![imageedit_2_6961281843](https://cloud.githubusercon

[2016-09-21 10:44] jigyasa-grover commented on #74
@sandmanx Kindly provide a link to your PR along with details and screenshots of desired changes.
Cheers !

[2016-09-21 10:46] jigyasa-grover commented on #74
Closing wrt PR https://github.com/fossasia/2016.fossasia.org/pull/112

[2016-09-21 10:46] #74 closed

[2017-09-08 18:35] geekyd opened #113 "Load tweets via HTTPS"
Load tweets via HTTPS
Use : https://github.com/fossasia/2018.fossasia.org/pull/32/commits/9f84dae03dbc7f7c09bd3489b588702b18642c56 for reference.

[2017-10-01 16:53] RMCoder198 opened #114 "Add Github icon at top bar that links to fossasia github."
Github icon will link user to fossasia github

[2017-10-01 19:45] #114 closed

[2017-11-30 07:55] naveentherocker opened #116 "8 Missing Profile Links of Speakers"
No Profile Links for Few Speakers

[2017-11-30 10:28] #116 closed

[2017-11-30 11:49] Iulia2100 opened #119 "Missing profile links of speakers"
No profile links for some speakers

[2017-11-30 12:55] ErikBoesen opened #121 "Speakers on homepage lack some profile links"
For Google Code-In.

[2017-11-30 18:56] #119 closed

[2017-12-06 05:15] nzec commented on #121
This issue is now solved. Close this please.

[2017-12-06 05:21] #121 closed

[2017-12-06 15:24] saarthakchats opened #123 "Adding profile links"

[2017-12-07 09:15] #123 closed

[2017-12-08 03:40] Ploypiti opened #126 "Add links to speakers' profile"
1. **Ricky Setyawan** | https://twitter.com/dbmsboy
2. **Rakesh Gupta** | https://twitter.com/rakeshistom?lang=en
3. **Prashant Kiran** | https://www.linkedin.com/in/prashantkiran
4. **Martin Bähr** | https://twitter.com/baehrmw
5. **Michael Kohler** | https://www.linkedin.com/in/michaelkohler1991/
6. **Deepak Karki** | https://twitter.com/karkiDk17
7. **Maor Lipchuk** | https://twitter.com/mlipch

[2017-12-08 12:55] m4tr1k opened #128 "#128 Add Missing Profile Links of Speakers"
Profile Links of Speakers to add:

* **Soares Chen:**
  * Twitter: https://twitter.com/soareschen

* **Michael Cheng:**
  * Twitter: https://twitter.com/coderkungfu
  * GitHub: https://github.com/miccheng
  * LinkedIn: https://www.linkedin.com/in/miccheng/

* **Sudheesh Singanamalla:**
  * LinkedIn: https://www.linkedin.com/in/sudheesh001/
  * Twitter: https://twitter.com/sudheesh001

* **Mayank P

[2017-12-08 13:36] #128 closed

[2017-12-11 13:25] mariobehling opened #131 "Fix tweets coming through loklak"
Fix are currently not working. Please check how it works on other FOSSASIA sites and fix it.

[2017-12-11 13:26] mariobehling opened #132 "Add missing social links on top menu, sidebar and footer"
Some social media links are missing. Please add them.

[2017-12-16 09:36] nzec commented on #132
On it!

[2017-12-16 10:15] abishekvashok commented on #126
@Ploypiti since it's closed pls close this.
Just use this syntax in the pr description to automatically close the issue on pr merge:
`Fixes #issueno`

[2017-12-16 16:02] nzec commented on #132
@mariobehling Please review #133

[2017-12-16 17:52] #132 closed

[2017-12-17 04:49] abishekvashok opened #134 "Add missing speaker links"
Add fb links of:
- [ ] Chinmay Pendharkar https://www.facebook.com/chinpen
- [ ] Micheal Christen https://www.facebook.com/michael.christen
- [ ] Praveen Patil https://www.facebook.com/praveenpatil103
- [ ] Marco Gutierrez https://www.facebook.com/marco.a.gutierrez
- [ ] Sudheesh Singanamalla https://www.facebook.com/sudheesh001
- [ ] Amit Kumar Jha https://www.facebook.com/iaktech
- [ ] Stephan W

[2017-12-17 04:55] nzec commented on #134
You working on it?

[2017-12-17 04:57] abishekvashok commented on #134
@duttaditya18 yes

[2017-12-17 07:28] #134 closed

[2017-12-18 11:05] #113 closed

[2017-12-18 11:05] #131 closed

[2017-12-22 05:43] arjunpandey2003 opened #138 "Add Missing Profile Links"
The links to some social media of speakers are missing
Please Add!

[2017-12-25 10:08] duttaditya18 opened #141 "Alignment and Link problem in website."
* There is a very weird alignment problem on the website.
* The social links don't seem to be in place.

*It starts after the Topics section*

**I am working on this. I will have a Pull Request ready soon. So don't start to work on this.**

[2017-12-27 09:10] #141 closed

[2017-12-27 11:04] Beta-King opened #148 "Speaker's profile list added more than once..."

[2017-12-28 08:11] abishekvashok opened #152 "Change common drop down to red"
Change the drop down hover colour to red as seen on https://fossasia.org.

[2017-12-28 08:11] abishekvashok commented on #152
Working on it as part of GCI

[2017-12-28 19:02] #138 closed

[2017-12-30 16:16] YashKumarVerma opened #154 "Adding speaker links"
https://github.com/arushivashist -- Arushi vashist
https://github.com/adamdrake -- Adam Drake
https://github.com/thsonvt --- Le Thanh Son
https://github.com/ongjiinjoo ---Jiin Joo Ong
https://github.com/hunter --- Hunter Nield
https://github.com/Siva7891 --- Siva Kumar
https://github.com/umairshahid --- Umair Shahid
https://github.com/dufferzafar --- Shadab Zafar

adding them :1st_place_medal:

[2017-12-31 02:12] #154 closed

[2017-12-31 19:53] 0x48piraj opened #156 "Add speakers, remove redirects."
* Add missing speaker accounts

**Fix various useless redirects :**
- `?lang`
- `?ref`

[2017-12-31 20:14] #156 closed

[2018-01-02 07:12] abishekvashok commented on #152
@Ploypiti took it, assigning to her.

[2018-01-02 08:22] manmeet0307 opened #159 "Hovering missing in side navigation"
In side navigation of 2016.fossasia.org hovering of context is missing
![image](https://user-images.githubusercontent.com/32425680/34477979-145acb6e-efc4-11e7-972a-c1ff019fc484.png)
After updating it sholud look like:
![image](https://user-images.githubusercontent.com/32425680/34477994-2fa3ac56-efc4-11e7-8183-cb8bf826ca46.png)

[2018-01-08 18:41] kubami9 opened #162 "Add speakers social profiles"
I'm going to add following speakers social profiles:
 - Praveen Patil
 - William Hooi
 - Mhairi O'Hara
 - Barry Threw
 - Damini Satya Kammakomati
 - David Effendi
 - Huiren Woo
 - Sayanee Basu
 - Satoshi Nagayasu
 - Sher Minn Chong
😄

[2018-01-14 07:08] harsh-jindal opened #164 "Add hovering property for the social icons in side menu"
I'm working on this issue

[2018-01-14 12:03] #162 closed

[2018-01-15 18:12] simsausaurabh opened #166 "Improper Alignment of map-address at footer section"
![screenshot from 2018-01-15 23-38-57](https://user-images.githubusercontent.com/16608864/34956066-75679c14-fa4d-11e7-9d10-b6cb4e2b80f2.png)

[2018-01-15 18:21] simsausaurabh commented on #166
Working on it

[2018-01-16 08:45] #166 closed

[2018-01-16 17:45] anshumanv opened #169 "Add Issue and Pull Request templates"
Issue and PR templates seem to be missing, adding them would assist reviewers and the contributors to get things done quickly with ease.

Anyone can claim and complete this.

[2018-01-16 19:04] #164 closed

[2018-01-16 19:25] ParthS007 commented on #148
closing due to insufficient Information

[2018-01-16 19:25] #148 closed

[2018-01-16 19:25] #152 closed

[2018-01-16 19:26] #159 closed

[2018-01-17 07:02] harsh-jindal commented on #169
@anshumanv I would like to work on this

[2018-03-16 01:11] #169 closed

[2020-07-06 13:08] Raunaksingh100 opened #171 "schedule button is not responsive in Mobile view"
![issue 2016  foss](https://user-images.githubusercontent.com/65535360/86596334-abc5aa80-bfb7-11ea-971a-1c91a82d6fe6.PNG)

[2020-10-16 13:18] pranay-simejia commented on #171
Hey, is this issue still open? If yes, I would like to work on it, Thanks.

[2020-10-16 14:31] Raunaksingh100 commented on #171
I already fixed this issue and make or for this plz find some other issues